on zygote-start
    # DTS_AUDIO START
    mkdir /data/vendor/audio 0771 media audio
    mkdir /data/vendor/audio/dts 0771 media audio

    setprop ro.vendor.dts.licensepath "/vendor/etc/dts/"
    setprop ro.vendor.dts.cfgpath "/vendor/etc/dts/"
    # DTS_AUDIO END

on post-fs-data
    copy /data/vendor/audio/dts/dts_audio_settings /data/vendor/audio/dts/temp
    copy /vendor/etc/dts/dts_audio_settings /data/vendor/audio/dts/dts_audio_settings
    copy /data/vendor/audio/dts/temp data/vendor/audio/dts/dts_audio_settings
    rm /data/vendor/audio/dts/temp
    chown audioserver audio /data/vendor/audio/dts/dts_audio_settings
